@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-primary: #f8dec5;
	--color-secondary: #f4e2d6;
	--color-text-main: #2b2b2b;
	--color-accent: #c5f8f8;
	--font-serif: 'Cormorant Garamond', serif;
	--font-sans: 'Inter', sans-serif;
}

@layer base {
	body {
		@apply min-h-screen bg-primary font-sans text-text-main antialiased selection:bg-accent selection:text-text-main;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-serif font-bold tracking-tight;
	}
}
